




.father {
    width: 600px;
    height: 500px;
    background-color: white;
    border: 1px solid blue;
    margin: 40px 100px;
    padding: 10px;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.box1 {
    width: 100%;
    height: 50px;
    background-color: brown;
    border: 1px solid blue;
    order: 3;
}

.box2 {
    width: 100%;
    height: 50px;
    background-color: rgb(42, 151, 165);
    border: 1px solid rgb(7, 28, 33);
    order: 1;
}

.box3 {
    width: 100%;
    height: 50px;
    background-color: rgb(23, 146, 44);
    border: 1px solid rgb(130, 189, 3);
    order: 1;
}

.box4 {
    width: 100%;
    height: 50px;
    background-color: rgb(23, 146, 44);
    border: 1px solid rgb(130, 189, 3);
    order: 1;

}


.position {
    width: 600px;
    height: 500px;
    background-color: rgb(172, 95, 200);
    border: 1px solid rgb(59, 151, 216);
    padding: 10px;
    position: relative;
}


.box {
    width: 300px;
    height: 60px;
    background-color: rgb(35, 164, 211);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: (-50%, -50%);
}