
.nazmul{
    color: green;
    border: 2px solid green;
    outline: 4px dotted blue;
    padding: 10px 20px 30px 40px;
    width: 50%;
    height: 100px;
}

#hasan {
    width: 200px;
    height: 100px;
    border: 2px solid black;
    margin: 40px;
    Overflow-x : auto;
  
}


.border {
    border: 2px solid black;
    margin: 30px;
    padding: 30px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    background-color: green;
    color: white;
}

#shadow {

    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: blueviolet;
    color: wheat;
    box-shadow: 5px 5px 10px 1px black;
}


#indder {

    margin: 30px;
    padding: 20px;
    border-radius: 5px;
    background-color: blueviolet;
    color: wheat;
      box-shadow: inset 5px 5px 10px 1px black;
}

.left{
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: blue;
    width: 300px;
    float: left;
}

.right{
    margin: 30px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(158, 8, 138, 0.548);
    width: 300px;
    float: right;
}