
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.father {
    display: flex ;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.card {
    margin: 20px 40px;
    width: 300px;
    height: 400px;

    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);
    transform: scale(1.1);
}

.card-image {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.card-image img {
    width: 100%;
    height: 100%;
}

.card-details {
    width: 100%;
    height: 200px;
    padding: 10px;
}

.card-details-name h2 {
    color: brown;
}
.card-details-name p {
    color: rgb(2, 47, 37);
    padding: 10px 0px;
}

.card-details-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px 0px;

}

.card-details-btn {
    width: 100%;
    padding: 4px 6px;
    background-color: crimson;
    text-align: center;
    border-radius: 20px;

    color: white;
    cursor: pointer;
}

