
/* ================================= header section =============================*/
.head {
    width: 100%;
    height: 80px;
    background-color: rgb(238, 15, 22);
}

.head h1{
    padding: 20px;
    color: white;
}


/* =================== main section ============================= */
.main{
    width: 100%;
    height: 400px;
    background-color: rgb(64, 247, 19);
}

.index{
    width: 25%;
    height: 100%;
    background-color: darkgreen;
    float: left;
}

.index h3 {
    padding: 5px 30px;
    font-size: 30px;
    color: rgb(216, 221, 210);
}

.index ol li{
    padding: 2px 10px;
    color: rgb(20, 9, 2);
}



.content{
    width: 75%;
    height: 100%;
    background-color: rgb(17, 41, 19);
    float: right;

}

.content h1 {
    padding: 5px 30px;
    color: rgb(24, 133, 180);
}

.content p {
    padding: 1px 30px;
    color: wheat;
}

.gallary {
    padding: 4px 30px;
}



/* ================================= footer section =============================*/
footer {
    width: 100%;
    height: 200px;
    background-color: navy;
}

footer h2 {
    color: wheat;
    padding: 1px 20px;
    font-size: 30px;
}

footer p {
    color: cyan;
    padding: 1px 30px;
}

footer a {
    font-size: 20px;
    padding: 20px 20px;
    color: white;
}